.page-details {

  div.purchase {
    padding-bottom: .5em;
    position: relative;
    top: -.75em;
    .tag.availability {
      text-transform: uppercase;
    }
  }

  .photos {
    img {
      cursor: pointer;
    }
  }

  .quill-content {
    margin-bottom: 1.5rem;
  }

  table.details {
    th {
      background: $light;
      font-family: '8bit';
      letter-spacing: -0.15em;
      font-size: 1em;
      padding: .75em .5em .5em;
    }
    td {
      font-size: .9em;
    }
  }

}
