.search-form {
  margin-bottom: 2em;
  &.show-fields {
    padding: 1.75em 1.25em;
    background: $light;
  }
  .tags.has-addons {
    cursor: pointer;
  }
  .nb-results {
    margin-top: .4em;
    color: $dark-medium;
    &.horizontal {
      @media only screen and (min-width: $tablet) {
        float: right;
        margin-top: 3.4em;
      }
      .button {
        position: relative;
        top: -.4em;
        margin-right: 1em;
      }
    }
  }
}
