@import "~bulma/sass/utilities/initial-variables";

body {
  font-family: 'PT Sans Caption';
}

@import "vars";
@import "layout";
@import "helpers";
@import "details";
@import "list";
@import "quill";

.mandatory-field .label:after {
  color: $danger;
  content: "*";
}

.bit {
  font-family: '8bit';
  letter-spacing: -0.15em;
}
h1.bit, h2.bit, h3.bit {
  line-height: 1.2;
}

.button.bit {
  font-size: .7em;
  &.is-large {
    font-size: .9em;
  }
}

.button {
  .icon {
    margin-right: .2em !important;
  }
}
.tag {
  .icon:not(:last-child) {
    margin-right: .2em !important;
  }
}

.title {
  font-size: 1.5em;
}
.subtitle {
  font-size: 1em;
}

.topright {
  float: right;
  margin-bottom: 1em;

  .button {
    font-size: .9em;
    & + .button {
      margin-left: 1em;
    }
  }
  @media only screen and (max-width: $tablet) {
    float: none;
    text-align: right;
    .button {
      font-size: .75em;
      & + .button {
        margin-left: .75em;
      }
    }
  }
}
