$text: #1a1a1a;
$text-light: #9B9B9B;
$background: #F7F7F7;

$body-background-color: $background;

$primary: #B052A1;
$info: #3778B7;
$success: #428226;
$warning: #ffe055;
$danger: #C94824;
$light: #E4E4E4;
$dark: #242424;
$dark-medium: #555;
